@import './variables.scss';

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: $primaryColor;
    font-family: $fontFamily;
    padding-left: 30px;
    padding-right: 30px;
    
    &-header{
        margin-bottom: 20px;

        &--title{
            color: $titleColor;
            font-size: 2.5rem;
            margin-bottom: 15px;
        }
    }
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $secondaryColor;
    padding: 0px;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .form-text{
        color: $primaryColor;
        margin-bottom: 8px;
        font-size: 1.2rem;
    }

    .form-input{
        padding: 10px;
        margin-bottom: 15px;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        width: 250px;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        -moz-appearance: textfield;

        
    }

    .form-btn{
        background-color: $btnColor;
        color: $primaryColor;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;

        &:hover{
            background-color: $btnHoverColor;
        }
    }

    .form-result{
        margin-top: 15px;
        color: $secondaryColor;
        font-size: 1.2rem;
    }
}